---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: k8s-apps
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    name: in-cluster
    namespace: argocd
  project: default
  source:
    repoURL: https://git.prrlvr.fr/prrlvr/infrastructure.git
    targetRevision: HEAD
    path: kubernetes/k8s
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true
