---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: grafana-admin-creds
spec:
  secretStoreRef:
    name: vault
    kind: ClusterSecretStore
  target:
    name: grafana-admin-creds
  data:
    - secretKey: username
      remoteRef:
        key: grafana/grafana-admin-creds
        property: username
    - secretKey: password
      remoteRef:
        key: grafana/grafana-admin-creds
        property: password