---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: postgres-users-forgejo
spec:
  secretStoreRef:
    name: vault
    kind: ClusterSecretStore
  target:
    name: postgres-users-forgejo
    template:
      engineVersion: v2
      metadata:
        labels:
          cnpg.io/reload: "true"
  data:
    - secretKey: username
      remoteRef:
        key: postgres/users/forgejo
        property: username
    - secretKey: password
      remoteRef:
        key: postgres/users/forgejo
        property: password
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: postgres-users-vaultwarden
spec:
  secretStoreRef:
    name: vault
    kind: ClusterSecretStore
  target:
    name: postgres-users-vaultwarden
    template:
      engineVersion: v2
      metadata:
        labels:
          cnpg.io/reload: "true"
  data:
    - secretKey: username
      remoteRef:
        key: postgres/users/vaultwarden
        property: username
    - secretKey: password
      remoteRef:
        key: postgres/users/vaultwarden
        property: password
