---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    name: in-cluster
    namespace: argocd
  project: default
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true
  sources:
    - repoURL: https://git.prrlvr.fr/prrlvr/infrastructure.git
      targetRevision: HEAD
      path: kubernetes/apps/k8s/argocd
      ref: infra
    - repoURL: https://argoproj.github.io/argo-helm/
      chart: argo-cd
      targetRevision: 9.1.0
      helm:
        valueFiles:
          - $infra/kubernetes/apps/k8s/argocd/values.yml