apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cilium
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/compare-options: ServerSideDiff=true
spec:
  destination:
    name: in-cluster
    namespace: kube-system
  project: default
  syncPolicy:
    syncOptions:
    - ServerSideApply=true
    automated:
      prune: true
      selfHeal: true
  sources:
   - repoURL: https://github.com/prrlvr/infra.git
     targetRevision: HEAD
     path: kubernetes/apps/k8s/cilium
   - repoURL: https://helm.cilium.io/
     chart: cilium
     targetRevision: 1.18.3
     helm:
       valuesObject:
         priorityClassName: system-node-critical
         kubeProxyReplacement: true
         k8sServiceHost: localhost
         k8sServicePort: 7445
         mtu: 1500
         ipam:
           mode: kubernetes
         cgroup:
           autoMount:
             enabled: false
           hostRoot: /sys/fs/cgroup
         securityContext:
           capabilities:
             ciliumAgent:
               - CHOWN
               - KILL
               - NET_ADMIN
               - NET_RAW
               - IPC_LOCK
               - SYS_ADMIN
               - SYS_RESOURCE
               - DAC_OVERRIDE
               - FOWNER
               - SETGID
               - SETUID
             cleanCiliumState:
               - NET_ADMIN
               - SYS_ADMIN
               - SYS_RESOURCE
         ipv4:
           enabled: true
         ipv6:
           enabled: false
         routingMode: "native"
         autoDirectNodeRoutes: true
         ipv4NativeRoutingCIDR: 10.244.0.0/16  
         endpointRoutes:
          enabled: true

         bgpControlPlane:
           enabled: true
         envoy:
          enabled: true
         socketLB:
           hostNamespaceOnly: true
         prometheus:
           enabled: false
           serviceMonitor:
             enabled: false
         dashboards:
           enabled: false
           namespace: monitoring
           annotations:
             k8s-sidecar-target-directory: "/tmp/dashboards/cilium"
         operator:
           priorityClassName: system-node-critical
           enabled: true
           rollOutPods: true
           resources:
             requests:
               cpu: 100m
               memory: 128Mi
             limits:
               cpu: 1000m
               memory: 1Gi
           prometheus:
             enabled: false
             serviceMonitor:
               enabled: false
           dashboards:
             enabled: false
             namespace: monitoring
             annotations:
               k8s-sidecar-target-directory: "/tmp/dashboards/cilium"

         hubble:
           enabled: true
           metrics:
             enabled:
               - dns
               - drop
               - tcp
               - flow
               - icmp
               - httpV2
             serviceMonitor:
               enabled: false
             dashboards:
               enabled: false
               namespace: monitoring
               annotations:
                 k8s-sidecar-target-directory: "/tmp/dashboards/hubble"
           peerService:
             clusterDomain: kube.prrlvr.local
           relay:
             enabled: true
             rollOutPods: true
           ui:
             enabled: true
             rollOutPods: true
             ingress:
               enabled: false

         l2announcements:
           enabled: false
           interfaces:
             - '^enX.*$'
           loadBalancer:
             mode: dsr
             acceleration: native
           encryption:
             enabled: false
             type: wireguard
             nodeEncryption: false
           policyEnforcementMode: default
           identityAllocationMode: crd