---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cnpg
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    name: in-cluster
    namespace: cnpg-system
  project: default
  sources:
    - repoURL: https://github.com/prrlvr/infra.git
      targetRevision: HEAD
      path: kubernetes/apps/k8s/cnpg
    - repoURL: https://cloudnative-pg.io/charts/
      chart: cloudnative-pg
      targetRevision: 0.26.1
      helm:
        values: |
          config:
            clusterWide: false
            data:
              KUBERNETES_CLUSTER_DOMAIN: kube.prrlvr.local
          replicaCount: 2
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    automated:
      prune: true
      selfHeal: true

