---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: external-dns
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    name: in-cluster
    namespace: external-dns
  project: default
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true
  sources:
    - repoURL: https://kubernetes-sigs.github.io/external-dns/
      chart: external-dns
      targetRevision: 1.19.0
      helm:
        valuesObject:
          env:
            - name: OVH_APPLICATION_KEY
              valueFrom:
                secretKeyRef:
                  name: ovh-credentials-external-dns
                  key: application_key
            - name: OVH_APPLICATION_SECRET
              valueFrom:
                secretKeyRef:
                  name: ovh-credentials-external-dns
                  key: application_secret
            - name: OVH_CONSUMER_KEY
              valueFrom:
                secretKeyRef:
                  name: ovh-credentials-external-dns
                  key: consumer_key
          serviceMonitor:
            enabled: false
          triggerLoopOnEvent: true
          namespaced: false
          gatewayNamespace: cilium
          sources:
            - service
            - gateway-httproute
            - gateway-grpcroute
            - gateway-tlsroute
            - gateway-tcproute
            - gateway-udproute
          policy: sync
          provider:
            name: ovh
            webhook:
              args:
                - --source=service
                - --domain-filter=prrlvr.fr
                - --provider=ovh