---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ilo-exporter
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    name: in-cluster
    namespace: monitoring
  project: default
  sources:
    - repoURL: https://git.prrlvr.fr/prrlvr/infrastructure.git
      targetRevision: HEAD
      path: kubernetes/apps/k8s/ilo-exporter
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true