---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: pgadmin
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    name: in-cluster
    namespace: pgadmin
  project: default
  sources:
    - repoURL: https://helm.runix.net
      chart: pgadmin4
      targetRevision: 1.50.0
      helm:
        values: |
          image:
            repository: dpage/pgadmin4
            tag: 9.2
          existingSecret: pgadmin-creds
          secretKeys:
            pgadminPasswordKey: password
          env:
            email: admin@prrlvr.fr
          ingress:
            enabled: false
          persistentVolume:
            enabled: true
            accessModes:
              - ReadWriteOnce
            size: 5Gi
            storageClass: truenas-iscsi-fast
    - repoURL: https://github.com/prrlvr/infra.git
      targetRevision: HEAD
      path: kubernetes/apps/k8s/pgadmin
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true

