---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: csi-truenas-driver-nfs
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    name: in-cluster
    namespace: storage
  project: default
  sources:
    - repoURL: https://democratic-csi.github.io/charts/
      chart: democratic-csi
      targetRevision: 0.15.0
      helm:
        values: |
            controller:
              driver:
                enabled: true
                image:
                  registry: docker.io/democraticcsi/democratic-csi
                  tag: next # waiting for 1.9.5 release
                  imagePullPolicy: Always
            csiDriver:
              name: "democratic-csi-nsf"
              fsGroupPolicy: File
            storageClasses:
              - name: truenas-nfs-slow
                defaultClass: false
                reclaimPolicy: Retain
                volumeBindingMode: Immediate
                allowVolumeExpansion: true
                parameters:
                  fsType: nfs
                mountOptions:
                  - noatime
                  - nfsvers=4
                  - nolock
            volumeSnapshotClasses: []
            driver:
              config:
                driver: freenas-api-nfs
                instance_id:
                httpConnection:
                  protocol: http
                  host: truenas.prrlvr.local
                  port: 80
                  username: k8s
                  password: k8spassword
                  allowInsecure: true
                zfs:
                  datasetProperties: 
                    "org.freenas:description": "{{ parameters.[csi.storage.k8s.io/pvc/namespace] }}/{{ parameters.[csi.storage.k8s.io/pvc/name] }}"
                  datasetParentName: pool-ssd/k8s/pvc
                  detachedSnapshotsDatasetParentName: pool-ssd/k8s/snap
                  datasetEnableQuotas: true
                  datasetEnableReservation: false
                  datasetPermissionsMode: "0777"
                  datasetPermissionsUser: 0
                  datasetPermissionsGroup: 0
                nfs:
                  shareCommentTemplate: "{{ parameters.[csi.storage.k8s.io/pvc/namespace] }}-{{ parameters.[csi.storage.k8s.io/pvc/name] }}"
                  shareAlldirs: false
                  shareAllowedNetworks:
                  - 10.0.30.0/24
                  shareHost: truenas.prrlvr.local
  syncPolicy:
    automated:
      prune: true
      selfHeal: true