---
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: vault
spec:
  provider:
    vault:
      server: https://vault.k8s.prrlvr.fr
      path: k8s-prrlvr-fr
      version: v2
      auth:
        kubernetes:
          mountPath: "k8s-prrlvr-fr"
          role: k8s-prrlvr-fr-external-secrets
          serviceAccountRef:
            name: external-secrets-vault
            namespace: external-secrets
