---
apiVersion: cilium.io/v2alpha1
kind: CiliumL2AnnouncementPolicy
metadata:
  name: default-l2-policy
spec:
  interfaces:
    - '^enX.*$'
    - '^eth.*$'
  externalIPs: true
  loadBalancerIPs: true
  nodeSelector:
    matchLabels:
      kubernetes.io/os: linux